/*************

Color scheme:

  Header/Nav-bar : #E2675B
  Any white-space :  #eee
  Drop down-add menu : #814FA0

**************/

* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.nav-container {
  width: 100%;
  background-color: #E2675B;
}

.App-logo {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.list-container {
  background-color: white;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.icon-img {
  width: 100px;
  display: inline-block;
}
.icon-text {
  display: inline-block;
}
.icon {
  font-size: 1.4em;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.Add-btn,
.Hamburger {
  background-color: white;
  border: 10px solid white;
  border-radius: 15px;
  height: 40px;
  width: 40px;
  float: right;
  margin: 21px 10px 0px 0px;
}

.Add-btn:active,
.Hamburger:active {
  background-color: grey;
  border: 10px solid grey;
}

img {
  display: inline-block;
}
.option-text {
  display: inline-block;
}

.item-container {
  width: 100%;
  position: relative;
}

.img-container {
  width:75px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.item-img {
  width: 100%;
}

.text-body {
  position: absolute;
  left: 95px;
  top: 10px;
}






