* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.nav-container {
  width: 100%;
  background-color: #444;
}

.App-logo {
  width: 75px;
  height: 75px;
  padding: 10px;
}

.list-container {
  width: 100px;
  background-color: white;
  float: right;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100%;
  background-color: #ae9a9a;
}

.icon {
  font-size: 1.4em;
  padding: 10px;
}